<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/resources/assets/font/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="/resources/assets/font/">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>CUKCUK MANAGEMENT SYSTEM</title>
</head>
<body>
    <div class="app">
        <!-- Header navbar -->
        <nav class="header__navbar">
            <ul class="header__navbar-list header__navbar-list-left">
                <li class="header__logo-item header__logo-toggle">
                    <img src="/resources/assets/img/toggle.png" alt="toggle" class="header__logo-toggle__img">
                </li>
                <li class="header__logo-item header__logo-content">
                    <a href="">
                        <img src="/resources/assets/cukcuk-logo.png" alt="logo" class="header__logo-content__img">
                    </a>
                </li>
                <li class="header__logo-item">
                    <div class="header__restaurant">
                        <span class="header__restaurant-name">Chi nhánh Hà Nội</span>
                        <i class="fas fa-angle-down header__restaurant-name-icon"></i>      
                    </div>
                </li>
            </ul>
            <ul class="header__navbar-list header__navbar-list-right">
                <li class="header__navbar-item">
                    <div class="header__info">
                        <img src="/resources/assets/icon/avatar-default.png" alt="Ảnh đại diện" class="header__info-img">
                        <span class="header__info-fullname">Bác Phượng Plus</span>
                    </div>
                </li>
                <li class="header__navbar-item">
                    <div class="header__option">
                        <img src="/resources/assets/icon/option.png" alt="option" class="header__option-icon">
                    </div>
                </li>
            </ul>
        </nav>
        <div class="container grid-container">
          <!-- Left side bar -->
          <div class="navbar-left">
            <ul class="menu__left-list">
              <li class="menu-left">
                <div class="menu-left__icon">
                  <img src="/resources/assets/icon/dashboard.png" alt="">
                </div>
                <p class="menu-left__text menu-left__text--active">Trang chủ</p>
              </li>
              <li class="menu-left">
                <div class="menu-left__icon">
                  <img src="/resources/assets/icon/report.png" alt="">
                </div>
                <p class="menu-left__text">Báo cáo</p>
              </li>
              <li class="menu-left">
                <div class="menu-left__icon">
                  <img src="/resources/assets/icon/report.png" alt="">
                </div>
                <p class="menu-left__text">Nhân viên</p>
              </li>
              <li class="menu-left">
                <div class="menu-left__icon">
                  <img src="/resources/assets/icon/setting.png" alt="">
                </div>
                <p class="menu-left__text">Cài đặt</p>
              </li>
            </ul>
            <div class="toogle-disable">
              <img class="toogle-disable__img" src="/resources/assets/icon/btn-prev-page.svg" alt="">
              <p class="toogle-disable__text">Thu gọn</p>
            </div>
          </div>
          <!-- Container components -->
          <div class="body">
            <div class="app__content">
              <div class="app__content-header">
                <span class="app__content-name">Quản lí nhân viên</span>
                <div class="app__content-add btn">
                  <img class="app__content-add-img" src="/resources/assets/icon/add.png" alt="">
                  <span class="app__content-add-name">Thêm mới</span>
                </div>
              </div>
              <!-- Table content -->
              <div class="app__content-table">
                <div class="app__content-table-tool">
                  <div class="header__search">
                    <div class="header__search-input-wrap">
                      <input type="text" class="header__search-input" id="search-input" placeholder="Tìm kiếm theo mã, họ tên" value="">
                      <!-- Search History -->
                      <!-- <div class="header__search-history">
                        <h3 class="header__search-history-heading">
                          Search History
                        </h3>
                        <ul class="header__search-history-list">
                          <li class="header__search-history-item">
                            <a href="https://twitter.com/campus2k2">AK-12 Russian</a>
                          </li>
                          <li class="header__search-history-item">
                            <a href="">Fagot ATGM</a>
                          </li>
                          <li class="header__search-history-item">
                            <a href="">Kornet ATGM</a>
                          </li>
                        </ul>
                      </div> -->
                    </div>
                    <div class="header__search-select">
                      <i class="header__search-select-icon fa-sharp fa-solid fa-chevron-down"></i>
                      <ul class="header__search-options">
                        <li class="header__search-option-item header__search-option-item--active">
                          <span>Trong Shop</span>
                          <i class="fa-solid fa-check"></i>
                        </li>
                        <li class="header__search-option-item">
                          <span>Ngoài Shop</span>
                          <i class="fa-solid fa-check"></i>
                        </li>
                      </ul>
                    </div>
                    <button class="header__search-btn" id="search-button" onclick="">
                      <i class="header__search-btn-icon header__search-btn-icon--active fa-solid fa-magnifying-glass"></i>
                    </button>
                  </div>
                  <div class="another">
                    <div class="export-excel-btn"></div>
                    <div class="refresh-button"></div>
                  </div>
                </div>
                <div class="table-container">
                  <table id="tblData" class="app__content-table">
                    <thead>
                        <tr>
                            <th class="app__content-table-header">STT</th>
                            <th class="app__content-table-header">Mã nhân viên</th>
                            <th class="app__content-table-header">Họ và tên</th>
                            <th class="app__content-table-header">Giới tính</th>
                            <th class="app__content-table-header">Ngày sinh</th>
                            <th class="app__content-table-header">Địa chỉ Email</th>
                            <th class="app__content-table-header">Địa chỉ</th>
                            <th class="app__content-table-header">Hành động</th>
                        </tr>
                      </thead>
                    <tbody id="data-container">
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                      <tr class="app__content-table-row">
                        <td class="app__content-table-cell">15</td>
                        <td class="app__content-table-cell">NV-34296</td>
                        <td class="app__content-table-cell">Hoàng Hưng Chung</td>
                        <td class="app__content-table-cell">02/08/1954</td>
                        <td class="app__content-table-cell">Nam</td>
                        <td class="app__content-table-cell">kthkuizb3830@nowhere.com</td>
                        <td class="app__content-table-cell">104 nhà K, ngõ 72 Lĩnh Nam</td>
                        <td class="app__content-table-cell">
                            <div class="app__content-table-cell-action">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/edit.png" alt="Edit">
                                <img class="app__content-table-cell-action-img" src="/resources/assets/icon/delete-48.png" alt="Delete">
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="app__content-footer">
                  <div class="app__content-total">Tổng: 100</div>
                  <div class="app__content-paging">
                    <span class="app__content-paging-title">Số bản ghi/trang</span>
                    <div class="app__content-paging-select">
                      <span class="app__content-paging-select-text">10</span>
                      <i class="fas fa-angle-down app__content-paging-select-icon"></i>
                    </div>
                    <div class="app__content-paging-control">
                      <i class="fas fa-angle-left app__content-paging-control-icon"></i>
                      <i class="fas fa-angle-right app__content-paging-control-icon"></i>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="footer"></div>
    </div>
    <!-- modal layout -->
    <div class="modal" id="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body" id="modal__body">
          <!-- form add new employee -->
          <div class="form__add-employee">
            <div class="form__add-employee-body">
              <form>
                <div class="form-header">
                    <h2>Thông tin nhân viên</h2>
                    <div class="exit">
                      <i id="exit-modal" class="fas fa-times exit_modal"></i>
                    </div>
                </div>
                <div class="row">
                  <div class="input">
                    <label for="employeeId">Mã nhân viên *</label>
                    <input type="text" id="employeeId" name="employeeId" autofocus>        
                  </div>
                  <div class="input">
                    <label for="fullName">Họ và tên *</label>
                    <input type="text" id="fullName" name="fullName">
                  </div>
                  <div class="input">
                    <label for="dob">Ngày sinh</label>
                    <input type="date" id="dob" name="dob">
                  </div>
                  <div class="input">
                    <label for="gender">Giới tính</label>
                    <div class="radio-group">
                      <input type="radio" id="male" name="gender" value="male"> Nam
                      <input type="radio" id="female" name="gender" value="female"> Nữ
                      <input type="radio" id="other" name="gender" value="other"> Khác
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="input">
                    <label for="location">Vị trí</label>
                    <!-- <input type="text" id="location" name="location"> -->
                    <div class="select-menu input">
                      <div class="menu-btn">
                        <span class="btn-text">Select Your Choice</span>
                        <i class="fas fa-caret-down"></i>
                      </div>
                      <ul class="options">
                        <li class="option">
                          <i class="fab fa-youtube" style="color: #ff0000"></i>
                          <span class="option-text">Youtube</span>
                        </li>
                        <li class="option">
                          <i class="fab fa-facebook-f" style="color: #4267b2"></i>
                          <span class="option-text">Facebook</span>
                        </li>
                        <li class="option">
                          <i class="fab fa-twitter" style="color: #1da1f2"></i>
                          <span class="option-text">Twitter</span>
                        </li>
                        <li class="option">
                          <i class="fab fa-github" style="color: #171515"></i>
                          <span class="option-text">Github</span>
                        </li>
                        <li class="option">
                          <i class="fab fa-instagram" style="color: #e1306c"></i>
                          <span class="option-text">Instagram</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="input">
                    <label for="identityCard">CMND</label>
                    <input type="text" id="identityCard" name="identityCard">
                  </div>
                  <div class="input">
                    <label for="identityCardDate">Ngày cấp</label>
                    <input type="date" id="identityCardDate" name="identityCardDate">
                  </div>
                </div>
                <div class="row">
                  <div class="input">
                    <label for="department">Phòng ban</label>
                    <input type="text" id="department" name="department">
                  </div>
                  <div class="input">
                    <label for="identityCardPlace">Nơi cấp</label>
                    <input type="text" id="identityCardPlace" name="identityCardPlace">
                  </div>
                </div>
                <div class="row">
                  <div class="input">
                    <label for="address">Địa chỉ</label>
                    <input type="text" id="address" name="address">
                  </div>
                </div>
                <div class="row">
                  <div class="input">
                    <label for="landline">ĐT Cố định</label>
                    <input type="text" id="landline" name="landline">           
                  </div>
                  <div class="input">
                    <label for="mobilePhone">ĐT Di động</label>
                    <input type="text" id="mobilePhone" name="mobilePhone">
                  </div>
                  <div class="input">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                  </div>
                </div>
                <div class="row">
                  <div class="input">
                    <label for="bankAccount">Tài khoản ngân hàng</label>
                    <input type="text" id="bankAccount" name="bankAccount">
                  </div>
                  <div class="input">
                    <label for="bankName">Tên ngân hàng</label>
                    <input type="text" id="bankName" name="bankName">
                  </div>
                  <div class="input">
                    <label for="branch">Chi nhánh</label>
                    <input type="text" id="branch" name="branch">
                  </div>
                </div>
                <div class="row button-row">
                    <button type="reset" class="btn">Hủy</button>
                    <button type="submit" class="btn">Cất</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal__body">
          <div id="deleteModal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Bạn có chắc muốn xóa sản phẩm này không?</p>
              <div class="modal-buttons">
                <button class="btn btn-confirm" id="confirmDelete">Có, xóa nó</button>
                <button class="btn btn-cancel" id="cancelDelete">Hủy</button>
              </div>
            </div>
          </div>
        </div>  
    </div>
    <script src="/js/controlModal.js"></script>
    <script src="/js/handleTable.js"></script>
    <script src="/js/dropdownApi.js"></script>
</body>
</html>