/* Title of left-bar */
.navbar-left {
    border-right: 2px solid #E5E5E5;
    width: 240px;
    padding: 0;
    position: relative;
    background: #041434;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; Set height to 100% of viewport height */
}

.title {
    display: flex;
    width: inherit;
    height: 48px;
}

.title__toggle {
    margin: 12px 10px 12px 16px;
    width: 24px;
    height: 24px;
}

.title__logo {
    margin: 10px 0 10px 0px;

}

/* Item menu left */
.menu-left {
    display: flex;
    width: inherit;
    height: 44px;
    font-size: 13px; 
}

.menu__left-list {
    position: relative;
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    margin: 0;
}

.menu-left__icon {
    width: 52px;
    height: 44px;
}

.menu-left__icon img {
    margin: 12px 10px 12px 16px;
    width: 20px;
    height: 20px;
}

.menu-left__text {
    font-family: GoogleSanS-Medium;
    font-size: 13px;
    color: var(--white-color);
}

.menu-left:focus {
    background: #019160;
    color: #FFFFFF;
}

.menu-left:hover {
    background-color: var(--white-color);
    cursor: pointer;
    border-radius: 10px;
    margin: 0 8px 0 8px;
    color: var(--text-color);
}

.menu-left__text--active {
    color: var(--white-color);
}

.menu-left:nth-child(3) {
    border-radius: 10px;
    margin: 0 8px 0 8px;
    background-color: #516794;
}

.toogle-disable {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    left: 0;
}

.toogle-disable__img {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 16px;
}

.toogle-disable__text {
    font-size: 13px;
    color: #454545;
    margin: 0 0 0 10px;
}

.menu-active {
    background-color: var(--active-div-color);
    color: var(--active-text-color);
}

.toogle-disable {
    display: flex;
    justify-content:last baseline;
    width: 100%;
    background-color: #089740;
    padding: 8px 8px;
}

.toogle-disable:hover {
    cursor: pointer;
    background-color: #0a7d3e;
}

.toogle-disable__img {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 16px;
}

.toogle-disable__text {
    font-size: 1.1rem;
    color: var(--white-color);
    margin: 0 0 0 10px;
}

