/* Style for the form container */
form {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--white-color);
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

form .form-header .exit {
    font-size: 2rem;
    color: red;
    cursor: pointer;
    transition: transform 0.2s;
}

form .form-header .exit:hover {
    transform: scale(1.2);
}


/* Style for each row */
.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 20px;
}

/* Style for the labels */
.row label {
    width: 150px;
    text-align: right;
}

.row .input {
    flex: 1;

}

/* Style for the inputs and selects */
.row input, .row select {
    flex: 1;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.row input:focus, .row select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

/* Style for the radio buttons */
.row .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.row .radio-group input[type="radio"] {
    margin-left: 10px;
}

/* Style for the button row */
.button-row {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: #f5f5f5;
}

/* Style for the buttons */
button[type="reset"] {
    color: var(--text-color);
    background-color: var(--white-color);
}

button:hover {
    opacity: 0.8;
}
