/* Style for the form container */
form {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--white-color);
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

form .form-header .exit {
    font-size: 2rem;
    color: red;
    cursor: pointer;
    transition: transform 0.2s;
}

form .form-header .exit:hover {
    transform: scale(1.2);
}


/* Style for each row */
.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 20px;
}

/* Style for the labels */
.row label {
    width: 150px;
    text-align: right;
}

.row .input {
    flex: 1;

}

/* Style for the inputs and selects */
.row input, .row select {
    flex: 1;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.row input:focus, .row select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

/* Style for the radio buttons */
.row .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.row .radio-group input[type="radio"] {
    margin-left: 10px;
}

/* Style for the button row */
.button-row {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: #f5f5f5;
}

/* Style for the buttons */
button[type="reset"] {
    color: var(--text-color);
    background-color: var(--white-color);
}

button:hover {
    opacity: 0.8;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    animation: fadeIn 0.3s ease;
  }
  
  .modal-content p {
    margin: 20px 0;
    font-size: 1.2em;
  }
  
  .close {
    color: #aaa;
    float: right;
    margin-left: 5px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .btn-confirm {
    background-color: #ed3029;
    color: white;
  }
  
  .btn-confirm:hover {
    background-color: #a61915;
  }
  
  .btn-cancel {
    background-color: #4abbdd;
    color: white;
  }
  
  .btn-cancel:hover {
    background-color: #1e6e87;
  }

  /* Custom select */
  .select-menu {
    width: 380px;
    margin: 140px auto;
  }
  
  .select-menu .menu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu-btn i {
    font-size: 25px;
    transition: 0.3s;
  }
  
  .select-menu.open .menu-btn i {
    transform: rotate(180deg);
  }
  
  .options {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .select-menu.open .options {
    display: block;
  }
  
  .options .option {
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background-color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f2f2f2;
  }
  
  .option i {
    font-size: 25px;
    margin-right: 12px;
  }